@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(27, 27, 27);
} 

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;

}
.navbar {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
  /* background-color: antiquewhite; */
  border-bottom: 1px black solid;
}

.navbar .links {
  margin-left: auto;

}
.navbar a {
  padding: 10px;
  text-decoration: none;

}

.home {
  margin-top: 2.5rem;
}

.blog-preview {
  padding: 1rem 0;
  margin: 1rem 0;
  margin-left: 1rem;

}

.blog-preview:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}